- content_for(:title, current_page.data.title)
- content_for(:description, Nokogiri::HTML(current_page.summary).text)

- wrap_layout :blog do
  %article{itemscope: true, itemtype: "http://schema.org/BlogPosting"}
    %meta{itemprop: "description", content: Nokogiri::HTML(current_page.summary).text}
    %meta{itemprop: "url", content: "http://lyon.rb#{current_page.url}"}
    %meta{itemprop: "inLanguage", content: "fr"}
    %h1{itemprop: "name headline"}= current_page.title
    %time.published{itemprop: "datePublished", datetime: current_page.date.strftime('%Y-%m-%d')}
      Publié le
      = current_page.date.strftime('%d/%m/%Y')
    %ul.tags
      %li
        %i.icon-tags
      - current_page.tags.each do |tag|
        %li= link_to tag.capitalize, tag_path(tag)

    .post-body{itemprop: "articleBody"}~ yield

    .author{id: current_page.data.authorName}
      Écrit par
      = link_to(current_page.data.authorName || 'Lyon.rb', current_page.data.authorUrl, {:rel => 'author'})

  %aside
    %h3 Autres articles récents
    %ul
      - blog.articles[0...10].each do |article|
        - unless article == current_page
          %li= link_to article.title, article.url
