!!! 5
%head
  = partial 'head'

%body#homepage

  .banner-wrapper
    %header.banner
      .container
        = partial 'nav'
        .row
          .col-lg-12
            %img.logo{src:"../img/logo_250.png"}
            %h1 <span class="colored-text">Lyon</span>.<span class="colored-text">rb</span>
            %h2 Une <span class="colored-text">communauté</span> de développeurs <span class="colored-text">Ruby</span> à <span class="colored-text">Lyon</span>

    = yield
    
    = partial 'footer'

  = partial 'javacrap'

:plain
  </html>
