!!! 5
%head
  = partial 'head'

%body
  %header.banner
    .container
      = partial 'nav'

  .container 
    .section.row
      .col-lg-10.col-lg-offset-1
        = yield
        
  = partial 'footer'

  = partial 'javacrap'


:plain
  </html>
