%h3= entity.name

%ul.entity

  %li.avatar= image_tag avatar_url(entity)

  - if entity.website
    %li.website
      %label Website:
      = link_to entity.website, entity.website

  - if entity.email
    %li.email
      %label Email:
      = link_to entity.email, "mailto:#{entity.email}"

  - if entity.github
    %li.github
      %label GitHub:
      = link_to entity.github, "https://github.com/#{entity.github}"

  - if entity.twitter
    %li.twitter
      %label Twitter:
      = link_to entity.twitter, "https://twitter.com/#{entity.twitter}"

  - if entity.meetup
    %li.meetup
      %label Meetup:
      = link_to entity.meetup, "http://www.meetup.com/#{entity.meetup}"

  - if entity.vimeo
    %li.vimeo
      %label Vimeo:
      = link_to entity.vimeo, "https://vimeo.com/#{entity.vimeo}"

  - if entity.youtube
    %li.youtube
      %label Youtube:
      = link_to entity.youtube, "https://youtube.com/user/#{entity.youtube}"

  - if entity.confreaks
    %li.confreaks
      %label Confreaks:
      = link_to entity.confreaks, "https://confreaks.com/events/#{entity.confreaks}"

  - if entity.mailinglist
    %li.mailinglist
      %label Mailing List:
      = link_to entity.mailinglist, entity.mailinglist

  - if entity.tags
    %li.tags
      %label Tags:
      = entity.tags.join(', ') if entity.tags
