= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js'
= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js'
= javascript_include_tag '//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js'
= javascript_include_tag '//use.typekit.net/cqt8jan.js'
:javascript
  try{Typekit.load( {async: true} );}catch(e){}
= yield_content :javascripts
