%nav.row
  %ul
    %li.col-xs-12.col-sm-2.col-sm-offset-1= link_to 'Home', 'http://www.lyonrb.fr'
    %li.col-xs-12.col-sm-2= link_to 'Rulu',  'http://rulu.eu/'
    %li.col-xs-12.col-sm-2= link_to 'Railsgirly', 'http://railsgirly.lyonrb.fr/'
    %li.col-xs-12.col-sm-2= link_to 'Mailing-list', 'https://groups.google.com/forum/#!forum/rubylyon'
    %li.col-xs-12.col-sm-2= link_to 'Meetup', 'https://www.meetup.com/Lyon-Ruby-Brigade/'
