-#
  %li= link_to 'Membres', 'members'
  %li= link_to 'Partenaires',  'partnership'
  %li= link_to 'Copains', 'friends'
  %li= link_to 'Entreprises', 'companies'
  %li= link_to 'Blog', 'blog'
%li{style: 'padding-left: 60%'}= link_to 'Adhérer', 'http://lyonrb.fr/adherer'
