%nav
  %ul
    %li= link_to 'Home', 'http://www.lyonrb.fr'
    %li= link_to 'Rulu',  'http://rulu.eu/'
    %li= link_to 'Railsgirly', 'http://railsgirly.lyonrb.fr/'
    %li= link_to 'Mailing-list', 'https://groups.google.com/forum/#!forum/rubylyon'
    %li= link_to 'Meetup', 'https://www.meetup.com/Lyon-Ruby-Brigade/'
