---
title: Lyon.rb | Lyon Ruby Brigade
---

%header.banner
  .container
    %nav
      %ul
        = partial 'nav-menu-items'
    .row
      .col-lg-12
        .logo
          %h1 Lyon.rb
        %h2 Nous sommes <span class="colored-text">Lyon.rb</span>, des développeurs <span class="colored-text">Ruby</span> à <span class="colored-text">Lyon</span>

.container

  %section.meetups.centered-text.row
    .col-lg-10.col-lg-offset-1

      %h2 Meetups

      %p
        Nous nous réunissons chaque deuxième mercredi du mois à <a href="http://goo.gl/maps/lP3YX">La Cordée Charpennes</a> à partir de 19h.
        %br
        Nous faisons des présentations techniques suivies de discussions autour d'un verre ou d'un burger.

      %p N'hésitez pas à consulter et contribuer à notre <a href="https://github.com/lyonrb/wishlist/issues">wishlist de talks</a> sur GitHub.

      %a{href: 'http://meetup.lyonrb.fr', class: 'button-medium'} S'inscrire au prochain Meetup

      %hr.dotted

  %section.events.centered-text.row
    .col-lg-10.col-lg-offset-1
      %h2 Événements
      %p Nous organisons régulièrement des évènements autour de Ruby ou du développement logiciel : formations, conférences, ateliers, ...

      .railsgirls
        %h3 RailsGirls
        %p Nous organisons régulièrement des formations Ruby/Rails déstinées (en priorité) aux filles : les <a href="http://railsgirly.lyonrb.fr">Rails Girls Lyon</a>.

      .rulu
        %h3 RuLu
        %p Nous sommes notamment les créateurs de la conférence <a href="http://rulu.eu">RuLu</a>.

      .codeweek
        %h3 CodeWeek
        %h4 Atelier de cours du soir
        %p
          En partenariat avec l'accélérateur <a href="http://www.boostinlyon.fr">BoostinLyon</a> et la chaîne de télévision <a href="http://www.tlm.fr">TLM</a>, nous organisons des cours du soir, pour débutants adultes, tous les soirs de la semaine, avec la plateforme <a href="http://www.codecademy.com">Codecademy</a>.
        %p
          Du lundi 13 au vendredi 17 : cours de 19h à 21h, dans les locaux de TLM
        %p Pourquoi nous avons choisi d'utiliser la plateforme Codecademy ?
        %p Codecademy fait partie des plateformes de e-learning les mieux conçues, elle est gratuite et permet d'apprendre différents langages (Ruby, HTML/CSS, JS... ). L'avantage c'est que nous permettons aux participants de commencer en étant accompagnés et encadrés, de s'habituer à la plateforme et de pouvoir ensuite continuer à se former seuls, après la Code Week... nous souhaitions trouver un moyen pour que cette découverte ne se limite pas à une semaine...
        %p L'<a href="https://www.eventbrite.fr/e/billets-cours-du-soirs-rubyrails-code-week-europe-13374506509">inscription</a> est gratuite et ouverte à toutes et à tous.

        %h4 Projection du film <a href="http://www.harmattantv.com/videos/film-%28vod-dvd%29-2734-Les-gardiens-du-nouveau-monde-DOCUMENTAIRES.html">Les gardiens du nouveau monde</a>
        %p &ldquo;Nous utilisons internet, échangeons sur réseaux sociaux... et nous pensons le faire en toute liberté… Mais des termes tels que #Wikileaks, #SOPA ou #Snowden reviennent souvent à nos oreilles... Que connaissons-nous du fonctionnement d'Internet ? À l'instar des hackers, il s'agit, à notre tour de saisir les enjeux politiques et économiques qui se cachent derrière nos écrans...&rdquo;
        %p En partenariat avec <a href="">Lyon JUG</a> et <a href="">La Cordée</a>, nous organisons une projection gratuite et ouverte à tous du documentaire, en présence du réalisateur, suivi d'un temps de questions réponses avec lui.
        %p Date : mercredi 15 octobre à 20h / Lieu : La Cordée Liberté (cours de la Liberté)

      .row
        .col-lg-10.col-lg-offset-1
          = image_tag 'rulu-friday-hug.jpg', class: 'img-responsive events-image', alt: 'Lyon.rb events - RuLu friday hug'

%section.callout
  .container
    .row
      .col-lg-9
        %p.lead.pull-right Vous souhaitez profiter de nos offres et participer à la vie de l'association ?
      .col-lg-3
        %a{href: 'http://lyonrb.fr/adherer', class:'button button-white pull-left'} Adhérez à Lyon.RB


%section.sponsors.centered-text
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h2 Nos sponsors

        .partners-logo
          %ul
            %li.grayscale= link_to image_tag('logo-alpinelab.png', class: 'img-responsive', alt: 'AlpineLab sponsor logo'), 'http://www.alpine-lab.com'
            %li.grayscale= link_to image_tag('logo-locale.png', class: 'img-responsive', alt: 'Locale sponsor logo'), 'http://localeapp.com'
          %ul
            %li.grayscale= link_to image_tag('logo-lacordee.png', class: 'img-responsive', alt: 'La Cordee sponsor logo'), 'http://www.la-cordee.net'
            %li.opacity= link_to image_tag('logo-studiohb.png', class: 'img-responsive', alt: 'StudioHB sponsor logo'), 'http://www.studio-hb.com'

%footer
  .container
    .row
      .col-lg-7
        .footer-nav
          %ul
            %li
              %h3 LYON.RB
              = partial 'nav-menu-items'

      .col-lg-5
        .communication-icon.pull-right
          %ul
            %li
              %a{href: 'https://groups.google.com/forum/?hl=en#!forum/rubylyon'}
                %i{class: "fa fa-envelope fa-3x"}
            %li
              %a{href: 'https://twitter.com/lyonrb'}
                %i{class: "fa fa-twitter-square fa-3x"}
            %li
              %a{href: 'https://github.com/lyonrb'}
                %i{class: "fa fa-github fa-3x"}
            %li
              %a{href: 'http://www.meetup.com/Lyon-Ruby-Brigade'}
                = image_tag('icon-meetup.png', class: 'icon-meetup')
            %li
              %a{href: 'https://www.youtube.com/user/lyonrb'}
                %i{class: "fa fa-youtube-square fa-3x"}
            %li
              %a{href: 'https://www.facebook.com/lyonrb'}
                %i{class: "fa fa-facebook-square fa-3x"}
