---
title: Lyon.rb | Lyon Ruby Brigade
---

.banner-wrapper
  %header.banner
    .container
      .row
        .col-lg-12
          .logo
            %img{src:"../img/logo-overlay.png", alt: 'Lyon.rb', class: 'img-responsive'}
          %br
          %h2 La <span class="colored-text">communauté</span> des développeurs <span class="colored-text">Ruby</span> à <span class="colored-text">Lyon</span>

.container

  %section.intro.centered-text.row
    .col-lg-10.col-lg-offset-1
      %p
        Bienvenue à <b>Lyon.rb</b>, la communauté des développeurs Ruby à Lyon.
        %br
        Retrouvez-nous une fois par mois à l'occasion des meetups que nous animons.
        %br
        Nous intéressons autant les professionnels que les passionnés, les débutants que les expérimentés, au travers de présentations variées et réalisées par nos membres :-)

      %a{href: 'https://www.meetup.com/LyonRB', class: 'button-medium'} <i class="fab fa-meetup"></i> S'inscrire au prochain Meetup


  %section.events.centered-text.row
    .col-lg-10.col-lg-offset-1
      %img{src: "/img/community-banner.jpg", alt: 'Lyon.rb - La communauté', class: 'img-responsive'}

%section.playlist.centered-text
  .container
    .row
      .col-lg-10.col-lg-offset-1
        %h2
          L'intégralité des talks en vidéo
        %p
          Nous mettons un point d'honneur à enregistrer et à diffuser les talks présentés durant nos meetups. <br />
          Abonnez-vous à notre chaîne Youtube pour ne rien râter !
        %a{href: 'https://www.youtube.com/lyonrb', class: 'button-medium'}
          <i class="fab fa-youtube"></i> Accéder à la chaîne Youtube
    .row
      .col-lg-6.col-lg-offset-3.col-md-8.col-md-offset-2
        %iframe{width: "100%", height: "315", src:"https://www.youtube.com/embed/videoseries?list=PLWO0_50XhBj9zScZBHL_Dn13OrSJQ2lKt", frameborder: "0", allow: "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", allowfullscreen: true}

.container
  %section.pictures.centered-text
    .row
      .col-lg-10.col-lg-offset-1
        %h2
          L'ambiance de nos meetups
        %p
          Nous aimons nous retrouver en dehors du cadre professionnel pour échanger sur le langage Ruby mais pas seulement : <br />
          Les frameworks, le design, les outils, l'organisation. <br />
          Former un réseau et faire de la veille technologique tout en s'amusant, c'est notre mot d'ordre !
    .row
      .col-lg-3.col-md-4.col-xs-6
        %img{src: "/img/pictures/1.jpg", class: 'img-responsive', alt: "Lyon.rb / La communauté des développeurs Ruby à Lyon"}
      .col-lg-3.col-md-4.col-xs-6
        %img{src: "/img/pictures/2.jpg", class: 'img-responsive', alt: "Lyon.rb / La communauté des développeurs Ruby à Lyon"}
      .col-lg-3.col-md-4.col-xs-6
        %img{src: "/img/pictures/3.jpg", class: 'img-responsive', alt: "Lyon.rb / La communauté des développeurs Ruby à Lyon"}
      .col-lg-3.col-md-4.col-xs-6
        %img{src: "/img/pictures/4.jpg", class: 'img-responsive', alt: "Lyon.rb / La communauté des développeurs Ruby à Lyon"}
      .col-lg-3.col-md-4.col-xs-6
        %img{src: "/img/pictures/5.jpg", class: 'img-responsive', alt: "Lyon.rb / La communauté des développeurs Ruby à Lyon"}
      .col-lg-3.col-md-4.col-xs-6
        %img{src: "/img/pictures/6.jpg", class: 'img-responsive', alt: "Lyon.rb / La communauté des développeurs Ruby à Lyon"}
      .col-lg-3.col-md-4.col-xs-6
        %img{src: "/img/pictures/7.jpg", class: 'img-responsive', alt: "Lyon.rb / La communauté des développeurs Ruby à Lyon"}
      .col-lg-3.col-md-4.col-xs-6
        %img{src: "/img/pictures/8.jpg", class: 'img-responsive', alt: "Lyon.rb / La communauté des développeurs Ruby à Lyon"}
      .col-lg-3.col-md-4.col-xs-6
        %img{src: "/img/pictures/9.jpg", class: 'img-responsive', alt: "Lyon.rb / La communauté des développeurs Ruby à Lyon"}
      .col-lg-3.col-md-4.col-xs-6
        %img{src: "/img/pictures/10.jpg", class: 'img-responsive', alt: "Lyon.rb / La communauté des développeurs Ruby à Lyon"}
      .col-lg-3.col-md-4.col-xs-6
        %img{src: "/img/pictures/11.jpg", class: 'img-responsive', alt: "Lyon.rb / La communauté des développeurs Ruby à Lyon"}
      .col-lg-3.col-md-4.col-xs-6
        %img{src: "/img/pictures/12.jpg", class: 'img-responsive', alt: "Lyon.rb / La communauté des développeurs Ruby à Lyon"}
      .col-lg-3.col-md-4.col-xs-6
        %img{src: "/img/pictures/13.jpg", class: 'img-responsive', alt: "Lyon.rb / La communauté des développeurs Ruby à Lyon"}
      .col-lg-3.col-md-4.col-xs-6
        %img{src: "/img/pictures/14.jpg", class: 'img-responsive', alt: "Lyon.rb / La communauté des développeurs Ruby à Lyon"}
      .col-lg-3.col-md-4.col-xs-6
        %img{src: "/img/pictures/15.jpg", class: 'img-responsive', alt: "Lyon.rb / La communauté des développeurs Ruby à Lyon"}
      .col-lg-3.col-md-4.col-xs-6
        %img{src: "/img/pictures/16.jpg", class: 'img-responsive', alt: "Lyon.rb / La communauté des développeurs Ruby à Lyon"}

%section.sponsors.centered-text
  .container
    .row
      .col-lg-12
        %h2 Nos sponsors et organisateurs

      .col-lg-2.col-md-3.col-xs-4
        = link_to image_tag('img/sponsors/studio-hb.png', class: 'img-responsive', alt: 'Studio HB', loading: 'lazy'), 'https://www.studio-hb.com'
      .col-lg-2.col-md-3.col-xs-4
        = link_to image_tag('img/sponsors/per-angusta.png', class: 'img-responsive', alt: 'Per Angusta', loading: 'lazy'), 'https://www.per-angusta.com', hreflang: 'en'

    .row
      .col-lg-12
        %h2 Ils nous soutiennent

      .col-lg-2.col-md-3.col-xs-4
        = link_to image_tag('img/sponsors/le-wagon-lyon.png', class: 'img-responsive', alt: 'Le Wagon Lyon'), 'https://www.lewagon.com/lyon', hreflang: 'en'
      .col-lg-2.col-md-3.col-xs-4
        = link_to image_tag('img/sponsors/jobteaser.png', class: 'img-responsive', alt: 'JobTeaser', loading: 'lazy'), 'https://engineering.jobteaser.com', hreflang: 'en'
      .col-lg-2.col-md-3.col-xs-4
        = link_to image_tag('img/sponsors/vptech.png', class: 'img-responsive', alt: 'vpTech (Communauté Tech de Veepee)', loading: 'lazy'), 'https://careers.veepee.com/en/vptech', hreflang: 'en'

    .row
      .col-lg-12
        %h2 Ils nous hébergent généreusement

      .col-lg-2.col-md-3.col-xs-4
        = link_to image_tag('img/sponsors/le-wagon-lyon.png', class: 'img-responsive', alt: 'Le Wagon Lyon', loading: 'lazy'), 'https://www.lewagon.com/lyon', hreflang: 'en'
      .col-lg-2.col-md-3.col-xs-4
        = link_to image_tag('img/sponsors/la-cordee.png', class: 'img-responsive', alt: 'La Cordée', loading: 'lazy'), 'https://www.la-cordee.net'
      .col-lg-2.col-md-3.col-xs-4
        = link_to image_tag('img/sponsors/niji-lyon.png', class: 'img-responsive', alt: 'Niji Lyon', loading: 'lazy'), 'https://www.niji.fr'
      .col-lg-2.col-md-3.col-xs-4
        = link_to image_tag('img/sponsors/epitech.png', class: 'img-responsive', alt: 'Epitech', loading: 'lazy'), 'https://www.epitech.eu/fr/ecole-informatique-lyon'
